{% extends 'admin/admin_base.html' %}

{% block canvas_product %}
<div class="d-flex gap-3 align-items-center mt-4">
    <img width="43" height="43" src="https://img.icons8.com/ios/50/product--v1.png" alt="product--v1" class="mx-2" />
    <a class="fs-2 col-5 main-page" href=""> Produk </a>
</div>
{% endblock %}

{% block body %}

<div class="container-fluid px-5 table-responsive-sm">

    <div class="row product-page">
        <div class="col d-flex justify-content-start align-items-center p-3 ">
            <h1> Product </h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center text-end">
            <button type="button" class="btn btn-primary col-3"> Tambah Produk </button>
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped table-danger text-center border-dark fs-5 p-5">
        <thead>
            <tr>
                <th scope="row" class="text-center"> No </th>
                <th scope="col"> Nama Kue </th>
                <th scope="col"> Detail Kue </th>
                <th scope="col"> Harga Kue </th>
                <th scope="col"> Varian Kue </th>
                <th scope="col"> Ukuran Kue </th>
                <th scope="col"> Activities </th>
            </tr>
        </thead>
        <tbody>
            <!-- Ini yang di looping -->
            <tr>
                <th scope="row" class="text-center"> id </th>
                <td> Coklat </td>
                <td> Panas </td>
                <td> 300.000</td>
                <td> Brownies</td>
                <td> 30cm </td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-danger">Hapus</button>
                </td>
            </tr>
            <!-- Ini yang di looping -->
            <!-- Ini yang di looping -->
            <tr>
                <th scope="row" class="text-center"> id </th>
                <td> Coklat </td>
                <td> Panas </td>
                <td> 300.000</td>
                <td> Brownies</td>
                <td> 30cm </td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-danger">Hapus</button>
                </td>
            </tr>
            <!-- Ini yang di looping -->
        </tbody>
    </table>
</div>

{% endblock %}