{% extends 'admin/admin_base.html' %}

{% block canvas_order %}
<div class="d-flex gap-3 align-items-center mt-4 ">
    <img width="43" height="43" src="https://img.icons8.com/ios/50/order-completed--v2.png" alt="order-completed--v2"
        class="mx-2" />
    <a class="col-5 main-page col " href=""> Pesanan </a>
</div>
{% endblock %}

{% block body %}

<div class="container-fluid px-5">
    <div class="row product-page">
        <div class="col d-flex justify-content-start align-items-center p-3 da ">
            <h1> Order (Pesanan) </h1>
        </div>     
    </div>

    <table class="table border-black  text-center table-hover custom-table text-white ">
        <thead>
            <tr>
                <th class="p-3" scope="col"> No. </t`h>
                <th class="p-3" scope="col"> ID - Pesananan </th>
                <th class="p-3" scope="col"> Tanggal Pengambilan</th>
                <th class="p-3" scope="col"> Waktu Pengambilan</th>
                <th class="p-3" scope="col"> Metode Pembayaran</th>
                <th class="p-3" scope="col"> Detail Kue </th>
                <th class="p-3" scope="col"> Total Harga </th>
                <th class="p-3" scope="col"> Aksi </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-3" scope="row">1</td>
                <td class="p-3"> 0001</td>
                <td class="p-3"> 23/12/2023</td>
                <td class="p-3"> 15:00 WITA</td>
                <td class="p-3"> Gopay </td>
                <td class="p-3">
                    <button type="button" class="btn btn-dark"> Detail </button>
                </td>
                <td class="p-3"> IDR 350000 </td>
                <td class="p-3">
                    <button type="button" class="btn btn-success">Terima</button>
                    <button type="button" class="btn btn-danger">Tolak</button>
                </td>
            </tr>
            <tr>
                <td class="p-3" scope="row">1</td>
                <td class="p-3"> 0002</td>
                <td class="p-3"> 23/12/2023</td>
                <td class="p-3"> 15:00 WITA</td>
                <td class="p-3"> BNI </td>
                <td class="p-3">
                    <button type="button" class="btn btn-dark"> Detail </button>
                </td>
                <td class="p-3"> IDR 350000 </td>
                <td class="p-3">
                    <button type="button" class="btn btn-success">Terima</button>
                    <button type="button" class="btn btn-danger">Tolak</button>
                </td>
            </tr>
            <tr>
                <td class="p-3" scope="row">1</td>
                <td class="p-3"> 0003</td>
                <td class="p-3"> 23/12/2023</td>
                <td class="p-3"> 15:00 WITA</td>
                <td class="p-3"> BRI </td>
                <td class="p-3">
                    <button type="button" class="btn btn-dark"> Detail </button>
                </td>
                <td class="p-3"> IDR 350000 </td>
                <td class="p-3">
                    <button type="button" class="btn btn-success">Terima</button>
                    <button type="button" class="btn btn-danger">Tolak</button>
                </td>
            </tr>
            <tr>
                <td class="p-3" scope="row">1</td>
                <td class="p-3"> 0004</td>
                <td class="p-3"> 23/12/2023</td>
                <td class="p-3"> 15:00 WITA</td>
                <td class="p-3"> BCA </td>
                <td class="p-3">
                    <button type="button" class="btn btn-dark"> Detail </button>
                </td>
                <td class="p-3"> IDR 350000 </td>
                <td class="p-3">
                    <button type="button" class="btn btn-success">Terima</button>
                    <button type="button" class="btn btn-danger">Tolak</button>
                </td>
            </tr>
        
        </tbody>
    </table>
</div>

{% endblock %}