{% extends 'admin/admin_base.html' %}

{% block canvas_home %}
<div class="d-flex gap-3 align-items-center ">
    <img width="43" height="43" src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/external-dashboard-user-interface-kmg-design-detailed-outline-kmg-design.png" alt="external-dashboard-user-interface-kmg-design-detailed-outline-kmg-design" class="mx-2"  />
    <a class="col-5 main-page" href="#"> Beranda </a>
</div>
{% endblock %}

<!-- Dashboard -->

{% block body %}

<div class="container mt-5 ">
    <div class="row gap-4 p-4">
        <div class="col-12 d-flex gap-4">
            <div class="col admin-dashboard" style= "height: 200px">
                
            </div>
            <div class="col admin-dashboard" style= "height: 200px">
                
            </div>
            <div class="col admin-dashboard" style= "height: 200px">
                
            </div>
            <div class="col admin-dashboard" style= "height: 200px">
                
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-8 admin-dashboard" style=" height: 250px;">

            </div>
        </div>
    </div>
</div>

{% endblock %}