{% extends 'admin/admin_base.html' %}

{% block canvas_product %}
<div class="d-flex gap-3 align-items-center mt-4">
  <img width="43" height="43" src="https://img.icons8.com/ios/50/product--v1.png" alt="product--v1" class="mx-2" />
  <a class="col-5 main-page" href=""> Produk </a>
</div>



{% endblock %}

{% block body %}

<!-- Modal Add Product  -->
<div class="modal modal-lg fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="mx-4 mt-4"> Tambah produk </h1>

        <div class="content p-2 m-4">
          <form method="POST" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
            <div class="row">
              <div class="col-6">
                <!-- Form -->
                {{ add_product.hidden_tag() }}
                <div class="mb-3">
                  {{ add_product.nama.label(class="form-label") }}
                  {{ add_product.nama(class="form-control" ,placeholder="Ketik di sini")}}
                </div>
                <div class="mb-3">
                  {{ add_product.harga.label(class="form-label") }}
                  {{ add_product.harga(class="form-control" ,placeholder="Ketik di sini")}}
                </div>
                <div class="mb-3">
                  {{ add_product.varian.label(class="form-label") }}
                  {{ add_product.varian(class="form-control" ,placeholder="Ketik di sini")}}
                </div>
                <div class="mb-3">
                  {{ add_product.foto.label(class="form-label") }}
                  {{ add_product.foto(class="form-control", type="file")}}
                </div>
                <!-- Form -->
              </div>
              <div class="col-6">
                <!-- Form -->
                <div class="mb-3">
                  {{ add_product.ukuran.label(class="form-label") }}
                  {{ add_product.ukuran(class="form-control" ,placeholder="Ketik di sini")}}
                </div>
                <div class="mb-3">
                  {{ add_product.detail.label(class="form-label") }}
                  {{ add_product.detail(class="form-control", id="exampleFormControlTextarea1", rows="5",
                  placeholder="Ketik di sini", style="border-radius: 15px; padding: 10px;")}}
                </div>
                <div class="mb-3 ">
                  {{ add_product.submit_add(class="modal-button col-12") }}
                </div>
                <!-- Form -->
              </div>
            </div>
            <!-- End Row -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Add Product -->

<div class="container-fluid px-5">
  <div class="row product-page">
    <div class="col d-flex justify-content-start align-items-center p-3 da ">
      <h1> Product </h1>
    </div>
    <div class="col d-flex justify-content-end align-items-center text-end">
      <button type="button" class="btn btn-primary col-3 " data-bs-toggle="modal" data-bs-target="#addProductModal">
        Tambah Produk </button>
    </div>
  </div>

  <table class="table border-black text-center table-hover custom-table ">
    <thead>
      <tr>
        <th class="p-3" scope="col"> No. </t`h>
        <th class="p-3" scope="col"> Nama Kue </th>
        <th class="p-3" scope="col"> Detail Kue</th>
        <th class="p-3" scope="col"> Harga Kue</th>
        <th class="p-3" scope="col"> Varian Kue</th>
        <th class="p-3" scope="col"> Ukuran Kue</th>
        <th class="p-3" scope="col"> Aksi </th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop Sini -->
      {% for cake_product in cakes %}
      <tr>
        <td class="p-3" scope="row"> {{ loop.index }} </td>
        <td class="p-3">{{ cake_product.nama }} </td>
        <td class="p-3 col-2"> {{ cake_product.detail }} </td>
        <td class="p-3">{{ cake_product.harga }} </td>
        <td class="p-3">{{ cake_product.varian }} </td>
        <td class="p-3">{{ cake_product.ukuran }} </td>
        <td class="p-3">
          <div class="d-flex align-self-center gap-2 justify-content-center align-items-center py-3">
            <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#updateProductModal{{ cake_product.id_kue }}">
              Edit </button>
            <a href="{{ url_for('delete', id_kue = cake_product.id_kue) }}">
              <button type="button" class="btn btn-danger">Hapus</button>
            </a>
          </div>
        </td>
      </tr>

      <!-- Modal Update Product  -->
      <div class="modal modal-lg fade" id="updateProductModal{{ cake_product.id_kue }}" tabindex="-1" aria-labelledby="updateProductLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <h1 class="mx-4 mt-4"> Update Produk </h1>

              <div class="content p-2 m-4">
                <form method="POST" action="{{ url_for('update', id_kue = cake_product.id_kue) }}" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-6">
                      <!-- Form -->
                      {{ update_product.hidden_tag() }}
                      <div class="mb-3">
                        {{ update_product.nama.label(class="form-label") }}
                        {{ update_product.nama(class="form-control" , value = cake_product.nama )}}
                      </div>
                      <div class="mb-3">
                        {{ update_product.harga.label(class="form-label") }}
                        {{ update_product.harga(class="form-control" , value = cake_product.harga)}}
                      </div>
                      <div class="mb-3">
                        {{ update_product.varian.label(class="form-label") }}
                        {{ update_product.varian(class="form-control" , value = cake_product.varian)}}
                      </div>
                      <div class="mb-3">
                        {{ update_product.foto.label(class="form-label") }}
                        {{ update_product.foto(class="form-control", type="file")}}
                      </div>
                      <!-- Form -->
                    </div>
                    <div class="col-6">
                      <!-- Form -->
                      <div class="mb-3">
                        {{ update_product.ukuran.label(class="form-label") }}
                        {{ update_product.ukuran(class="form-control" , value = cake_product.ukuran )}}
                      </div>
                      <div class="mb-3">
                        {{ update_product.detail.label(class="form-label") }}                        
                        {{ update_product.detail(class="form-control", id="exampleFormControlTextarea1", rows="5", placeholder = "Update data ini..." , style="border-radius: 15px; padding: 10px;")}}
                      </div>
                      <div class="mb-3">
                        {{ update_product.submit_update(class="modal-button col-12") }}
                      </div>
                      <!-- Form -->
                    </div>
                  </div>
                  <!-- End Row -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Update Product -->
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}