{% extends 'base.html' %}

{% block tittle %} Cart - Fatin Cake {% endblock %}

{% block navcart %}
<li class="nav-item d-flex align-items-center">
    <a class="nav-link text-pink" href="{{ url_for('cart') }}"> Cart </a>
    <img src="{{url_for('static', filename='img/navbar-cart-active.svg')}}" class="img-fluid animated ms-2 "
        alt="">
</li>
{% endblock %}

{% block modal %} 

<div>

</div>

{% endblock %}

{% block body %}

<div class="container px-4 px-xl-0" id="cart-header">
    <div class="cart-text mt-5">
        <h1>
            Shopping Cart
        </h1>
    </div>
    <hr>
</div>

<div class="container cart-list mb-5">

    {% for detail in cart_details %}
    <div class="row d-block">
        <div class="col-12 mt-3 d-flex gap-xl-5 gap-4 mb-3">
            <div class="col-md-2 col-3 d-flex align-items-center"    >
                <img src="{{url_for('static', filename='img/foto_produk/' + detail.cake_photo)}}" class="img-fluid shadow-sm" style="border-radius: 20px;">
            </div>
            <div class="content col-xl-9 col-8 align-items-center gap-md-5 gap-3 d-flex ">
                <div class="col-5 col-md-4 col-xl-4" name="cart-list-1">
                    <h1 class="fs-5">
                        {{ detail.cake_name }}
                    </h1>
                    <h2 class="fs-6">
                        {{ detail.cake_ukuran }}
                    </h2>
                    <h2 class="fs-6">
                        <i class="fa-solid fa-trash fa-sm me-1"> </i>
                        Remove
                    </h2>
                </div>
                <div class="content d-md-flex col py-4">
                    <div class="col-4 col-md-5 text-center" name="cart-list-2">
                        <h3 class="fs-6">
                            Total
                        </h3>
                        <h4 class="fs-6">
                            x {{ detail.quantity }}
                        </h4>
                    </div>
                    <div class="col-12 col-md-7 d-md-flex text-center " name="cart-list-3">
                        <div class="col ">
                            <h2 class="fs-6 ">
                                Total Harga
                            </h2>
                            <h2 class="fs-6">
                                IDR {{ detail.sub_total }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Loop -->
    {% endfor %}
    
    <div class="container pricing-content justify-content-lg-end d-flex  ">
        <div class="content d-flex  align-items-center justify-content-around gap-md-3 gap-4   ">
            <div class="content d-flex gap-sm-3 gap-2 my-md-0 my-3 me-sm-2 ">
                <h1 class="fs-5" style="margin: 0;"> Total Harga </h1>
                <h2 class="fs-5" style="margin: 0;"> IDR {{total_price }} </h2>
            </div>
    
            <div class="content d-flex justify-content-center">
                <button class="custom-button-2 " style="border-radius: 10px;" data-bs-toggle="modal" data-bs-target="#create_order">
                    Buat Pesanan
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="create_order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container p-3 ">
                    <h1 style="font-size: 35px;"> Buat Pesanan </h1>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}