{% extends 'base.html' %}

{% block tittle %} All Product - Fatin Cake {% endblock %}

{% block body %}

{% block active %}
<nav class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
    <ul class="navbar-nav gap-4">
        <li class="nav-item d-flex align-items-center page-now ">
            <a class="nav-link text-white" href="{{ url_for('index') }}"> Home </a>
            <img src=" {{url_for('static', filename='img/home-deac.svg')}} " class="img-fluid animated " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="{{ url_for('products') }}"> All Product </a>
            <img src="{{url_for('static', filename='img/Cupcake.svg')}}" class="img-fluid animated " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-pink" aria-current="page" href="#"> Custom Cake </a>
            <img src="{{url_for('static', filename='img/bag-active.svg')}}" class="img-fluid animated " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="{{ url_for('cart') }}"> Cart </a>
            <img src="{{url_for('static', filename='img/icn shopping-cart .icn-sm.svg')}}" class="img-fluid animated "
                alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="" data-bs-toggle="modal" data-bs-target="#exampleModal" > Login </a>
            <img src="{{url_for('static', filename='img/Profile.svg')}}" class="img-fluid animated " alt="">
        </li>
    </ul>
</nav>

{% endblock %}

<div class="container mt-5">

    <div class="row">
        <div class="col-7">

            <img src="{{url_for('static', filename='img/custome_cake.png')}}" class="img-fluid"
                style="width: 682px; height: 572px;">

        </div>

        <div class="col-5 mt-5">

            <h2> DIY Cake </h2>

            <h4 class="mt-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fuga ducimus molestiae
                vel voluptatum repellat?</h2>

                <h1 class="mt-5" style="font-size: 30px;"> Mulai dari IDR 100,000</h1>

                <div class="text-center mb-3">
                    <button type="button" class="btn btn custom-button-2 mt-5 "
                        style="border-radius: 10px !important; padding: 10px 20px !important;"> MAKE YOUR DREAM CAKE
                    </button>
                </div>

        </div>
    </div>

</div>

<div style="background-color:  #F3808B;">

    <!-- Ukuran Kue Section -->
    <div class="container mt-5 mb-5">
        <h1 class="text-white"> UKURAN KUE</h1>

        <div class="row mt-2">
            <div class="col d-flex mt-3 mb-4 gap-3 ">
                <div class="col d-flex justify-content-center">
                    <div class=" d-block justify-content-center">
                        <div class="card" style="width: 25rem;">
                            <img src="{{url_for('static', filename='img/custom_1.png')}}" class="card-img-top"
                                alt="...">
                        </div>
                        <h1 class="text-white mt-3" style="font-size: 20px;"> 16 cm </h1>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class=" d-block justify-content-center">
                        <div class="card" style="width: 25rem;">
                            <img src="{{url_for('static', filename='img/custom_2.png')}}" class="card-img-top"
                                alt="...">
                        </div>
                        <h1 class="text-white mt-3" style="font-size: 20px;"> 18 cm </h1>
                    </div>
                </div>


            </div>


            <div class="col d-flex mb-3 gap-3">
                <div class="col d-flex justify-content-center">
                    <div class=" d-block justify-content-center">
                        <div class="card" style="width: 25rem;">
                            <img src="{{url_for('static', filename='img/custom_3.png')}}" class="card-img-top"
                                alt="...">
                        </div>
                        <h1 class="text-white mt-3" style="font-size: 20px;"> 20 cm </h1>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class=" d-block justify-content-center">
                        <div class="card" style="width: 25rem;">
                            <img src="{{url_for('static', filename='img/custom_4.png')}}" class="card-img-top"
                                alt="...">
                        </div>
                        <h1 class="text-white mt-3" style="font-size: 20px;"> 22 cm </h1>
                    </div>
                </div>


            </div>

            <div class="col-12 d-flex justify-content-center">
                <div class=" d-block justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <img src="{{url_for('static', filename='img/custom_5.png')}}" class="card-img-top" alt="...">
                    </div>
                    <h1 class="text-white mt-3" style="font-size: 20px;"> 24 cm </h1>
                </div>

            </div>


        </div>




    </div>

    <!-- Ukuran Kue Section -->
</div>

<div class="container-fluid" style="background: var(--primary-color-pink, #F9BFC4);">
    <h1 class="text-white mt-4"> VARIAN KUE </h1>

    <div class="row mt-3">
        <div class="col d-flex mt-3 mb-4 gap-3 ">
            <div class="col d-flex justify-content-center">
                <div class=" d-block justify-content-center">
                    <div class="card" style="width: 398px; height: 398px;">
                        <img src="{{url_for('static', filename='img/varian_1.png')}}" class="card-img-top" style="width: 398px; height: 398px;">
                    </div>
                    <div class="content" style="width: 400px;">
                        <h1 class="text-white mt-3" style="font-size: 23px;"> Brownies </h1>
                        <h4 class="text-white mt-3" style="font-size: 16px;"> Kekayaan cokelat dalam setiap gigitan. Tekstur lembut di dalam dengan lapisan luar yang renyah. </h4>
                    </div>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <div class=" d-block justify-content-center">
                    <div class="card" style="width: 398px; height: 398px;">
                        <img src="{{url_for('static', filename='img/varian_2.png')}}" class="card-img-top" alt="...">
                    </div>
                    <div class="content" style="width: 400px;">
                        <h1 class="text-white mt-3" style="font-size: 23px;"> Red Velvet </h1>
                        <h4 class="text-white mt-3" style="font-size: 16px;"> Kekhasan kue merah muda dengan rasa lembut dan penampilan yang memukau. </h4>
                    </div>
                </div>
            </div>


        </div>


        <div class="col d-flex mb-5 gap-3">
            <div class="col d-flex justify-content-center">
                <div class="d-block justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <img src="{{url_for('static', filename='img/varian_3.png')}}" class="card-img-top" alt="...">
                    </div>
                    <div class="content" style="width: 400px;">
                        <h1 class="text-white mt-3" style="font-size: 23px;"> Pandan </h1>
                        <h4 class="text-white mt-3" style="font-size: 16px;"> Aroma unik pandan menghadirkan cita rasa segar dan lembut dalam setiap suapan. </h4>
                    </div>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <div class=" d-block justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <img src="{{url_for('static', filename='img/varian_4.png')}}" class="card-img-top" alt="...">
                    </div>
                    <div class="content" style="width: 400px;">
                        <h1 class="text-white mt-3" style="font-size: 23px;"> Rainbow </h1>
                        <h4 class="text-white mt-3" style="font-size: 16px;"> Kue berlapis dengan warna cerah yang menghadirkan keceriaan dalam setiap potongan. </h4>
                    </div>

                </div>
            </div>


        </div>


    </div>

</div>

{% endblock %}