{% extends 'base.html' %}

{% block tittle %} Details - Fatin Cake {% endblock %}

{% block body %} 

{% block active %}
<nav class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
    <ul class="navbar-nav gap-4">
        <li class="nav-item d-flex align-items-center page-now ">
            <a class="nav-link text-white" aria-current="page" href="{{ url_for('index') }}"> Home </a>
            <img src=" {{url_for('static', filename='img/home-deac.svg')}} " class="img-fluid animated " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="{{ url_for('products') }}"> All Product </a>
            <img src="{{url_for('static', filename='img/Cupcake.svg')}}" class="img-fluid animated " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="{{ url_for('custome') }}"> Custom Cake </a>
            <img src="{{url_for('static', filename='img/Pastry Bag.svg')}}" class="img-fluid animated " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="{{ url_for('cart') }}"> Cart </a>
            <img src="{{url_for('static', filename='img/icn shopping-cart .icn-sm.svg')}}" class="img-fluid animated "
                alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="" data-bs-toggle="modal" data-bs-target="#exampleModal" > Login </a>
            <img src="{{url_for('static', filename='img/Profile.svg')}}" class="img-fluid animated " alt="">
        </li>
    </ul>
</nav>

{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{url_for('static', filename='img/kue1.png')}}" class="img-fluid my-5" alt="...">
        </div>
        <div class="col mt-5 ms-3">
            <div class="content">
                <h2 class="text-start" style="font-size: 23px;"> Fatin Cake </h2>
                <h2 class="text-start pt-3"> Korean Cake </h2>       
                <h2 class="text-start text-pink" style="font-size: 30px" > IDR 120.000 </h2> 
                <h2 class="text-start pt-3" style="font-size: 25px" > Ukuran </h2>       
                <h2 class="text-start text-pink" style="font-size: 25px" > Diameter 18 cm  </h2> 
                <h2 class="text-start pt-3" style="font-size: 25px" > Varian Kue </h2>       
                <h2 class="text-start text-pink" style="font-size: 25px" > Brownies  </h2> 
            </div>
            <div class="content mt-5">
                <h2 class="text-start" style="font-size: 18px;"> Ketikkan ucapan selebrasimu </h2>

                <div class="mb-3 col-7">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ketik di sini" style="border-radius: 15px; padding: 10px;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}