{% extends 'base.html' %}

{% block tittle %} Details - Fatin Cake {% endblock %}

{% block active %}
<nav class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
    <ul class="navbar-nav gap-4">
        <li class="nav-item d-flex align-items-center page-now ">
            <a class="nav-link text-white" aria-current="page" href="{{ url_for('index') }}"> Home </a>
            <img src=" {{url_for('static', filename='img/navbar-home.svg')}} " class="img-fluid animated ms-2 " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href=""> All Product </a>
            <img src="{{url_for('static', filename='img/navbar-product.svg')}}" class="img-fluid animated ms-2 " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="{{ url_for('custome') }}"> Custom Cake </a>
            <img src="{{url_for('static', filename='img/navbar-custome.svg')}}" class="img-fluid animated ms-2 " alt="">
        </li>
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="{{ url_for('cart') }}"> Cart </a>
            <img src="{{url_for('static', filename='img/navbar-cart.svg')}}" class="img-fluid animated ms-2 " alt="">
        </li>
        <!-- Muncul Ketika Sudah Login -->
        {% if email %}
        <li class="nav-item d-flex align-items-center ">
            <div class="nav-link text-white" href=""> {{ email }} </div>
            <img src="{{url_for('static', filename='img/navbar-user.svg')}}" class="img-fluid animated ms-1 " alt="">
        </li>
        <!-- Muncul Ketika Belum Login -->
        {% else %}
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white" href="" data-bs-toggle="modal" data-bs-target="#loginModal"> Login </a>
            <img src="{{url_for('static', filename='img/navbar-user.svg')}}" class="img-fluid animated ms-2 " alt="">
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-6 mb-5">
            <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="img-fluid my-5" alt="...">
            <div class="container text-start details-description ">
                <div class="title d-flex gap-5 mb-4">
                    <div class="detail">
                        <h1> Detail </h1>
                    </div>
                    <div class="penyimpanan">
                        <h2> Penyimpanan </h2>
                    </div>
                </div>
                <h3 class="details">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet non enim deserunt eius fugiat
                        reprehenderit quam corporis aut! Repellendus, ipsum.
                    </span>
                </h3>
            </div>
        </div>

        <div class="col mt-5 ms-3">
            <div class="content details-content">
                <h1 class="text-start"> Fatin Cake </h1>
                <h2 class="text-start pt-3"> Korean Cake </h2>
                <h3 class="text-start text-pink"> IDR 130.000 </h3>
                <h3 class="text-start text-secondary pt-3"> Ukuran </h3>
                <h3 class="text-start text-pink"> Diameter 18 cm </h3>
                <h3 class="text-start text-secondary pt-3"> Varian Kue </h3>
                <h3 class="text-start text-pink"> Brownies </h3>
            </div>
            {% if login %}
            <div class="content mt-3">
                <h2 class="text-start" style="font-size: 18px;"> Ketikkan ucapan selebrasimu </h2>
                <div class="mb-3 col-xl-7">
                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"
                        placeholder="Ketik di sini" style="border-radius: 15px; padding: 10px;"></textarea>
                </div>
            </div>
            <div class="content justify-content-center align-items-center d-flex col-xl-7 mb-3">
                <button class="details-button me-2 decrease-cart" type="button">
                    <i class="fa-solid fa-minus fa-xl" style="color: #000000;"> </i>
                </button>
                <p class="cart-value">
                    <span> 0 </span>
                </p>
                <button class="details-button ms-2 increase-cart" type="button">
                    <i class="fa-solid fa-plus fa-xl" style="color: #000000;"> </i>
                </button>
            </div>
            <button type="button" class="btn add-cart-button col-xl-7 mb-3" data-bs-toggle="modal"
                data-bs-target="#add_cart"> Tambah ke keranjang
            </button>
            {% else %}
            <!-- User Belum Login -->
            <div class="content mt-3">
                <h2 class="text-start" style="font-size: 18px;"> Ketikkan ucapan selebrasimu </h2>
                <div class="mb-3 col-xl-7">
                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"
                        placeholder="Ketik di sini" style="border-radius: 15px; padding: 10px;"></textarea>
                </div>
            </div>
            <div class="content justify-content-center align-items-center d-flex col-xl-7 mb-3">
                <button class="details-button me-2 decrease-cart" type="button">
                    <i class="fa-solid fa-minus fa-xl" style="color: #000000;"> </i>
                </button>
                <p class="cart-value">
                    <span> 0 </span>
                </p>
                <button class="details-button ms-2 increase-cart" type="button">
                    <i class="fa-solid fa-plus fa-xl" style="color: #000000;"> </i>
                </button>
            </div>
            <button type="button" class="btn add-cart-button col-xl-7 mb-3" id="add-to-cart"> Tambah ke keranjang </button>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="add_cart" tabindex="-1" aria-labelledby="add to cart" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body justify-content-center">
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('static', filename = 'img/success.png') }}" alt="" class="img-fluid"
                        style="width: 150px; height: 150px;">
                </div>
                <div class="content text-center success-pop p-4">
                    <h1> Produk berhasil ditambahkan ke keranjang</h1>
                    <!-- 
    <button type="button" class="btn add-cart-button col-xl-4 col-5 mt-3 text-center"> OK </button>  
-->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}