{% extends 'base.html' %}

{% block tittle %} Home - Fatin Cake {% endblock %}

{% block navhome %}
<li class="nav-item d-flex align-items-center page-now ">
    <a class="nav-link text-pink" aria-current="page" href="{{ url_for('index') }}"> Home </a>
    <img src=" {{url_for('static', filename='img/navbar-home-active.svg')}} "
        class="img-fluid animated ms-2 " alt="">
</li>
{% endblock %}
  
{% block body %}


<!-- Modal / Login Pop Up-->

<div class="first_img">
  <img src="{{url_for('static', filename='img/index-jumbotron.png')}}" class="img-fluid" alt="big_cake">
</div>

<div class="container-fluid bg-second-section pb-5">
  <h1 class="pt-4 text-center fs-1"> NIKMATI KUE TERLARIS DARI FATIN CAKE </h1>


  <!-- Card 1-->

  <div class="container py-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col-md-6 col-xl-3 d-flex justify-content-center">
        <div class="card card-body-second h-100 col-10 col-md-12 ">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="..." >
          <div class="card-body text-center">
            <h5 class="card-title ">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 d-flex justify-content-center ">
        <div class="card card-body-second h-100 col-10 col-md-12">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 d-flex justify-content-center  ">
        <div class="card card-body-second h-100 col-10 col-md-12">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 d-flex justify-content-center ">
        <div class="card card-body-second h-100 col-10 col-md-12">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 1-->

</div>

<div class="container-fluid bg-third-section pb-5">
  <h2 class="pt-4 fs-1"> MANISNYA COKLAT DALAM SETIAP GIGITAN </h1>


    <!-- Card 2-->

    <div class="container py-4">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col-md-6 col-xl-3 d-flex justify-content-center">
          <div class="card card-body-third h-100 col-10 col-md-12">
            <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title ">Nama Kue </h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
            </div>
            <div class="text-center mb-3">
              <a href="{{ url_for('details') }}">
                <button type="button" class="btn custom-button-2">Lihat Detail</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 d-flex justify-content-center">
          <div class="card card-body-third h-100 col-10 col-md-12">
            <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Nama Kue </h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
            </div>
            <div class="text-center mb-3">
              <a href="{{ url_for('details') }}">
                <button type="button" class="btn custom-button-2">Lihat Detail</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 d-flex justify-content-center ">
          <div class="card card-body-third h-100 col-10 col-md-12">
            <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Nama Kue </h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
            </div>
            <div class="text-center mb-3">
              <a href="{{ url_for('details') }}">
                <button type="button" class="btn custom-button-2">Lihat Detail</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 d-flex justify-content-center">
          <div class="card card-body-third h-100 col-10 col-md-12">
            <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Nama Kue </h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
            </div>
            <div class="text-center mb-3">
              <a href="{{ url_for('details') }}">
                <button type="button" class="btn custom-button-2">Lihat Detail</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2-->

    <div class="container text-center">
      <button type="button" class="btn button-custom "> Lihat Lebih Banyak
        <i class="fa-solid fa-chevron-right "> </i>
      </button>

    </div>

</div>

<div class="container-fluid bg-second-section pb-5">
  <h1 class="pt-4 text-center ps-1"> KUE LUCU, KENANGAN MANIS </h1>

  <div class="container py-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col-md-6 col-xl-3 d-flex justify-content-center">
        <div class="card card-body-second h-100 col-10 col-md-12">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title ">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 d-flex justify-content-center">
        <div class="card card-body-second h-100 col-10 col-md-12">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 d-flex justify-content-center ">
        <div class="card card-body-second h-100 col-10 col-md-12">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 d-flex justify-content-center">
        <div class="card card-body-second h-100 col-10 col-md-12">
          <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Nama Kue </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod.</p>
          </div>
          <div class="text-center mb-3">
            <a href="{{ url_for('details') }}">
              <button type="button" class="btn custom-button-2">Lihat Detail</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <button type="button" class="btn button-custom "> Lihat Lebih Banyak
      <i class="fa-solid fa-chevron-right "> </i>
    </button>
  </div>

</div>

{% endblock %}