{% extends 'base.html' %}

{% block tittle %} Profile - Fatin Cake {% endblock %}

{% block modal %} 

<div>

</div>

{% endblock %}


{% block body %}

<div class="container-fluid" >
    {% if empty_order %}    
    {% else %}
    <div class="row gap-5 my-4 user-profile justify-content-center">
        <div class="col-10 col-xl-4 ">
            <div class="profile-content shadow-lg rounded p-5 ">
                <div class="col-xl-12 col-12 d-flex justify-content-center mb-3 ">
                    <img src="{{url_for('static', filename='img/kanan_profile.jpeg')}}" class="img-fluid animated ms-1 profile-img" alt="">
                </div>
                <div class="content">
                    <h1 class="fs-3"> {{ first }} {{ last }}</h1>
        
                    <h2 class="fs-5 text-start"> {{ email }} </h2>
    
                    <h2 class="fs-5  text-start"> {{ number }} </h2>

                    <h2 class="fs-5  text-start"> (Role) = {{ role }}  </h2>
        
                    <a href="{{ url_for('logout') }}">
                        <button class="btn profile-btn mt-3 col-xl-5 col-5 col-sm-4 col-md-4 text-center"  >
                            Log Out
                        </button>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-xl-7 col-10 shadow-lg rounded-2 px-4 py-3">
            <h1 class="fs-2 p-2 text-secondary fw-bold">
                Riwayat Pesanan 
            </h1>
            <div class="content d-flex gap-5 my-3 ">
                <div class="col-xl-2 col-3 d-flex align-items-center ">
                    <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="img-fluid" alt="">
                </div>
                <div class="details user-profile ">
                    <h1 class="fs-5 text-secondary fw-bolder"> Nama Kue</h1>
                    <h1 class="fs-6 text-secondary"> IDR 1.200.000 </h1>
                    <h1 class="fs-6 text-secondary"> Status Pesanan : Diterima </h1>
                </div>
            </div>

            <div class="content d-flex gap-5 my-3 ">
                <div class="col-xl-2 col-3 align-items-center d-flex">
                    <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="img-fluid" alt="">
                </div>
                <div class="details user-profile ">
                    <h1 class="fs-5 text-secondary fw-bolder"> Nama Kue</h1>
                    <h1 class="fs-6 text-secondary"> IDR 1.200.000 </h1>
                    <h1 class="fs-6 text-secondary"> Status Pesanan : Diterima </h1>
                </div>
            </div>

            <div class="content d-flex gap-5 my-3 ">
                <div class="col-xl-2 col-3 align-items-center d-flex">
                    <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="img-fluid" alt="">
                </div>
                <div class="details user-profile ">
                    <h1 class="fs-5 text-secondary fw-bolder"> Nama Kue</h1>
                    <h1 class="fs-6 text-secondary"> IDR 1.200.000 </h1>
                    <h1 class="fs-6 text-secondary"> Status Pesanan : Diterima </h1>
                </div>
            </div>

            <div class="content d-flex gap-5 my-3 ">
                <div class="col-xl-2 col-3 align-items-center d-flex">
                    <img src="{{url_for('static', filename='img/dummy_cake.png')}}" class="img-fluid" alt="">
                </div>
                <div class="details user-profile ">
                    <h1 class="fs-5 text-secondary fw-bolder"> Nama Kue</h1>
                    <h1 class="fs-6 text-secondary"> IDR 1.200.000 </h1>
                    <h1 class="fs-6 text-secondary"> Status Pesanan : Diterima </h1>
                </div>
            </div>
        </div>

    </div>
    {% endif %}
</div>

{% endblock %}