// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// Custom Theme Colors
$custom-theme-colors : ("pinky" : #F69EA5,
);


$theme-colors : map-merge($custom-theme-colors, $theme-colors);

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
$color-dark-pink: #F3808B;
$subtle-2: #AFB1B6;
$color-background: #FAF3F3;
$table-1-backgroud : #F69EA5;
$table-2-backgroud : #FFF;
$text-color-light-grey : #979797;

// sass --watch ./scss/custom.scss ./css/custom.css

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: $color-background;
}

footer {
    margin-top: auto;
}

h1 {
    color: black;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;

}

h5 {
    color: $text-color-light-grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.modal-body h1 {
    color: $color-dark-pink;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;

}

.modal-body h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
}

.modal-body a {
    color: $color-dark-pink;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    text-decoration: none;
}

.modal-body input,
label {
    color: $subtle-2;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}

.modal-button {
    height: 57px !important;
    border-radius: 12px !important;
    background: $color-dark-pink !important;
    border: 1px solid $color-dark-pink;
    padding: 12px 16px !important;
    font-size: 20px !important;
    color: white !important;
    transition: 0.25s ease-in-out;
}

.modal-button:hover {
    background: white !important;
    color: $color-dark-pink !important;
    transition: 0.25s ease-in-out;

}

form {
    .modal-button {
        height: 57px;
        border-radius: 12px;
        background: $color-dark-pink ;
        border: 1px solid $color-dark-pink;
        padding: 12px 16px;
        font-size: 20px;
        color: white;
        transition: 0.25s ease-in-out;
    }

    .modal-button:hover {
        background: white;
        color: $color-dark-pink;
        transition: 0.25s ease-in-out;
    }

    .modal-button:active {
        background: white;
        color: $color-dark-pink;
    }
}

.header-text,
.header-text:hover {
    color: $color-dark-pink ;
    font-family: 'Pacifico';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.page-now {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-pink,
.text-pink:hover {
    color: $color-dark-pink ;
}

.nav-back-color {
    background: var(--primary-color-pink, #F9BFC4);
}

.bg-second-section {
    background: #FFF8DE;
}

.card-body-second {
    background-color: #FFF8DE;

    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
}

.card {
    border-color: black;
}

.bg-third-section {
    background: #FAF3F3;
}

.card-body-third {
    background-color: #FAF3F3;

    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }

}

@media only screen and (max-width: 810px) {
    .card-img-top {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
}


.footer-bg {
    background: #2C1800;
    color: white;
}

.button-custom {
    border-radius: 10px;
    align-items: center;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid $color-dark-pink ;
    color: $color-dark-pink ;
    transition: 0.25s ease-in-out;
}

.button-custom:hover {
    background-color: $color-dark-pink;
    color: white;
    transition: 0.25s ease-in-out;

}

.pricing-content .button-custom {
    padding: 10px 15px;
    border: 1px solid white;
    color: white;
    background-color: $color-dark-pink;
    font-weight: 500;
    transition: 0.2s;
}

.pricing-content .button-custom:hover {
    border: 1px solid white;
    background-color: #f5c9cd;
    transition: 0.25s ease-in-out;

}


.custom-button-2 {
    border-radius: 5px;
    align-items: center;
    border: 1px solid $color-dark-pink ;
    background-color: $color-dark-pink ;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.2s;
}

.custom-button-2:hover {
    background-color: white;
    color: $color-dark-pink;
    transition: 0.25s ease-in-out;

}

h2 {
    font-family: 'Poppins', sans-serif;
    color: $text-color-light-grey;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {

    font-family: 'Poppins', sans-serif;
    color: var(--text-color-black, #000000);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}


h6 {

    font-family: 'Poppins', sans-serif;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

textarea {
    resize: none;

}

.card-body {
    p {
        font-weight: 500;
    }

    img {
        min-height: 300px;
        min-width: 250px;
        max-height: fit-content;
        max-width: fit-content;
    }
}

.cart-text h1 {
    text-align: start;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    color: $text-color-light-grey;
    font-weight: 400;
    font-feature-settings: 'clig' off, 'liga' off;
}

.cart-text h2 {
    text-align: end;
    font-size: 18px;
}

hr {
    border: 3px solid #4c4c4c;
    border-radius: 7px;
}

.cart-list h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: start;
}

.cart-list h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: start;
    font-weight: 400;
}

.cart-list h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: start;
    color: $text-color-light-grey;
}

.cart-list h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: start;
    color: black;
}

.pricing-content h1 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $text-color-light-grey;
}

.pricing-content h2 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $color-dark-pink;
}

.collapse-button {
    border-radius: 5px;
    align-items: center;
    border: 3px solid $color-dark-pink ;
    background-color: white;
    color: $color-dark-pink ;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.2s;

}

.collapse-button:hover {
    border-radius: 5px;
    align-items: center;
    border: 3px solid white;
    background-color: $color-dark-pink ;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
}

.menu-item {
    text-align: center;
}

.custome-text h1 {
    color: white;
    font-size: 37px;
}

.custome-text h4 {
    color: white;

}

.custome-text p {
    color: white;
    font-size: 14px;
}

.img-custome {
    border: 2px solid white;
    border-radius: 10px;

}

.details-button {
    width: 45px;
    height: 45px;
    color: white;
    background-color: white;
    border: 2px solid pink;
    border-radius: 15px;
    transition: 0.25s ease-in-out;

}


.details-button:hover {
    color: white;
    opacity: 0.5;
    border: 2px solid pink;
    transition: 0.25s ease-in-out;
    border-radius: 15px;

}

.details-button:active {
    color: white;
    opacity: 0.5;
    border: 2px solid pink;
    border-radius: 15px;

}



.add-cart-button {
    color: white;
    border: 2px solid pink;
    border-radius: 15px;
    background: $color-dark-pink;

}

.add-cart-button:hover {
    color: white;
    border-color: white;
    background: var(--primary-color-dark-pink, #ffb1b9);
}

.add-cart-button:active {
    color: white !important;
    opacity: 0.50 !important;
    background: var(--primary-color-dark-pink, #ffb1b9) !important;
}

p {
    margin: 0;
}

.details-description h1 {
    font-size: 23px;
    color: pink;
    text-align: start;

}

.details-description h2 {
    font-size: 23px;
    color: gray;
    text-align: start;

}

span#_detail {
    font-size: 1.4rem;
    color: pink;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}

span#_penyimpanan {
    font-size: 1.4rem;
    color: gray;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}

span#details {
    font-size: 0.9rem;
    color: gray;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}


.details-description h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    text-align: start;

}

.success-pop h1 {
    font-size: 25px;
    text-align: center;
    color: black;
}

.details-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: $subtle-2;
}

.details-content h2 {
    font-size: 35px;
}

.details-content h3 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.user-profile {
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: $text-color-light-grey;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        color: $text-color-light-grey;
        font-weight: 400;
    }
}


.profile-btn {
    border-radius: 20px;
    align-items: center;
    padding: 10px 15px;
    background-color: $color-dark-pink;
    border: 1px solid $color-dark-pink;
    color: white;
    transition: .25s ease-in-out;
}

.profile-btn:hover,
.profile-btn:active {
    background-color: white;
    border: 1px solid $color-dark-pink;
    color: $color-dark-pink;
    transition: .25s ease-in-out;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-background;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: $color-dark-pink;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.profile-img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.offcanvas {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color-dark-pink;

    .offcanvas-header h5 {
        font-weight: 500;
    }
}

.list-offcanvas a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.main-page {
    text-underline-offset: 8px;
    text-decoration: underline !important;
}

table,
th,
td,
tr {
    font-family: 'Poppins', sans-serif, sans-serif;
    font-weight: 400;

}

.product-page h1,
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.custom-table {
    th {
        background-color: #F69EA5;
    }

    tr:nth-child(even) {
        td {
            background-color: #F69EA5;
        }
    }

    th,
    td,
    tr {
        color: black;
    }
}

.admin-dashboard {
    background-color: #B0B0B0;
    box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.25);
}

// Remove arrow di input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}