{% extends 'base.html' %}

{% block tittle %} All Product - Fatin Cake {% endblock %}

{% block navproduct %}

<li class="nav-item d-flex align-items-center">
    <a class="nav-link text-pink" href=""> All Product </a>
    <img src="{{url_for('static', filename='img/navbar-product-active.svg')}}" class="img-fluid animated ms-2 " alt="">
</li>

{% endblock %}

{% block body %}

<!-- Start -->
<div class="container">

    <h1 class="text-center pt-3"> All Cake </h1>

    <!-- Card Section -->

    <div class="container py-4">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for cake_product in cakes %}
            <!-- Looping start disini !! -->
            <div class="col-md-6 col-xl-3 d-flex justify-content-center">
                <div class="card card-body-third h-100 col-10 col-md-12">
                    <!-- Source Gambar -->
                    <img src="{{url_for('static', filename='img/foto_produk/' + cake_product.foto )}}"
                        class="card-img-top  img-fluid shadow-lg" alt="..." >
                    <div class="card-body text-center">
                        <!-- Nama Kue  -->
                        <h5 class="card-title "> {{ cake_product.nama }} </h5>
                        <!-- Detail Singkat  -->
                        <p class="card-text"> IDR {{ cake_product.harga }} </p>
                    </div>
                    <div class="text-center mb-3">
                        <a href="{{ url_for('main.details', id_kue = cake_product.id_kue) }}">
                            <button type="button" class="custom-button-2">Lihat Detail</button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Looping end disini !! -->
            {% endfor %}
        </div>
    </div>
    <!-- Card Section -->
</div>

{% endblock %}