<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/75f28d3810.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- CSS Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- Sweet Alert -->
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">

    <title> {% block tittle %} {% endblock %} </title>
</head>

<body>

    <!-- Loader -->
    <div class="loader">

    </div>

    <!-- Begin alerts -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>

        Swal.fire({

            title: "{{ category.title() }}!",
            // success , error , warning ,info

            text: "{{ message }}",
            // Custom message flashed from your flask routes

            icon: "{{ category }}" == "danger" ? "error" : "{{ category }}"
            // success , error , warning ,info

        })

    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- End alerts -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg nav-back-color sticky-top ">
        <div class="container-fluid ">
            <a class="navbar-brand header-text" href="{{ url_for('main.index') }}"> Fatin Cake </a>
            <button class="navbar-toggler collapse-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars-staggered fa-lg"></i>
            </button>
            <!-- Active Navbar -->
            <nav class="collapse navbar-collapse justify-content-end me-4" id="navbarNav">
                <ul class="navbar-nav gap-4">
                    {% block navhome %}
                    <li class="nav-item d-flex align-items-center page-now ">
                        <a class="nav-link text-white" aria-current="page" href="{{ url_for('main.index') }}"> Home </a>
                        <img src=" {{url_for('static', filename='img/navbar-home.svg')}} "
                            class="img-fluid animated ms-2 " alt="">
                    </li>
                    {% endblock %}

                    {% block navproduct %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-white" href="{{ url_for('main.products') }}"> All Product </a>
                        <img src="{{url_for('static', filename='img/navbar-product.svg')}}"
                            class="img-fluid animated ms-2  " alt="">
                    </li>
                    {% endblock %}

                    {% block navcustome %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-white" href="{{ url_for('main.custome') }}"> Custom Cake </a>
                        <img src="{{url_for('static', filename='img/navbar-custome.svg')}}"
                            class="img-fluid animated ms-2  " alt="">
                    </li>
                    {% endblock %}

                    {% block navcart %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-white" href="{{ url_for('main.cart') }}"> Cart </a>
                        <img src="{{url_for('static', filename='img/navbar-cart.svg')}}"
                            class="img-fluid animated ms-2  " alt="">
                    </li>
                    {% endblock %}

                    {% block navlogin %}
                    <!-- Muncul Ketika Sudah Login -->
                    {% if login %}
                    {% block nav_profile %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-white" href="{{ url_for('main.profile') }}"> Akun </a>
                        <img src="{{url_for('static', filename='img/navbar-user.svg')}}"
                            class="img-fluid animated ms-1 " alt="">
                    </li>
                    {% endblock %}
                    <!-- Muncul Ketika Belum Login -->
                    {% else %}
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link text-white" href="" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Login </a>
                        <img src="{{url_for('static', filename='img/navbar-user.svg')}}"
                            class="img-fluid animated ms-2  " alt="">
                    </li>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                    <li class="nav-item d-flex align-items-center ">
                        <a class="nav-link text-white" href="{{ url_for('admin.admin_dashboard') }}"> Admin Section </a>
                        <img src="{{url_for('static', filename='img/navbar-user.svg')}}"
                            class="img-fluid animated ms-1 " alt="">
                    </li>
                    {% endif %}
                    {% endblock %}

                </ul>
            </nav>
        </div>
    </nav>

    <!-- Navbar -->

    {% block modal %}
    <!-- Modal Register  -->
    <div class="modal modal-lg fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 class="mx-4 mt-4"> Sign Up </h1>

                    <div class="content p-2 m-4">
                        <form method="POST" action="{{ url_for('main.register') }}">
                            <div class="row">
                                <div class="col-6">
                                    <!-- Form -->
                                    {{ register_form.hidden_tag() }}
                                    <div class="mb-3">
                                        {{ register_form.first_name.label(class="form-label") }}
                                        {{ register_form.first_name(class="form-control" ,placeholder="Ketik di sini")
                                        }}
                                    </div>
                                    <div class="mb-3">
                                        {{ register_form.last_name.label(class="form-label") }}
                                        {{ register_form.last_name(class="form-control" ,placeholder="Ketik di sini") }}
                                    </div>
                                    <div class="mb-3">
                                        {{ register_form.email.label(class="form-label") }}
                                        {{ register_form.email(class="form-control" ,placeholder="Ketik di sini") }}
                                    </div>
                                    <!-- Form -->
                                </div>
                                <div class="col-6">
                                    <!-- Form -->
                                    <div class="mb-3">
                                        {{ register_form.phone_number.label(class="form-label") }}
                                        {{ register_form.phone_number(class="form-control" ,placeholder="Ketik di sini")
                                        }}
                                    </div>
                                    <div class="mb-3">
                                        {{ register_form.password_hash.label(class="form-label") }}
                                        {{ register_form.password_hash(class="form-control" ,placeholder="Ketik di sini") }}
                                    </div>
                                    <div class="mb-3">
                                        {{ register_form.confirm_password.label(class="form-label") }}
                                        {{ register_form.confirm_password(class="form-control" ,placeholder="Ketik di sini") }}
                                    </div>
                                    <!-- Form -->
                                </div>
                            </div>
                            <!-- End Row -->
                            <div class="row mt-3 align-items-center">
                                <div class="col-12 px-5 text-center">
                                    {{ register_form.submit_register(class="modal-button col-6") }}
                                </div>
                            </div>
                            <div class="container-fluid mt-4 d-flex text-center justify-content-center">
                                <h2> Sudah punya akun? </h2>
                                <a class="ms-2" href="" data-bs-toggle="modal" data-bs-target="#loginModal"> Yuk,
                                    Masuk!
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Register -->

    <!-- Modal Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 class="mx-4 mt-4"> Log in </h1>
                    <div class="content mx-4 my-4">

                        <!-- Form -->
                        <form method="POST" action="{{ url_for('main.login') }}">
                            <div class="mb-3">
                                {{ login_form.hidden_tag() }}

                                {{ login_form.email.label(class="form-label") }}

                                {{ login_form.email(class="form-control" ,placeholder="Ketik di sini") }}
                            </div>
                            <div class="mb-3">
                                {{ login_form.password_hash.label(class="form-label") }}
                                {{ login_form.password_hash(class="form-control" , placeholder="Ketik di sini" ) }}
                            </div>
                            {{ login_form.submit_login(class="modal-button col-12") }}
                        </form>

                        <!-- Form -->

                        <div class="container-fluid mt-2 d-flex">
                            <h2> Belum punya akun? </h2>
                            <a class="ms-2" href="" data-bs-toggle="modal" data-bs-target="#registerModal"> Yuk, Daftar
                                Sekarang! </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal / Login Pop Up-->
    {% endblock %}

    {% block body %}

    {% endblock %}

    <!-- Footer -->

    <footer class="footer-bg py-4 py-3 ">
        <div class="container-fluid">
            <div class="row gap-5 justify-content-md-around justify-content-center ">
                <div class="col-8 col-xl-3 px-xl-5 d-flex col-md-4 col-sm-6 justify-content-center  ">
                    <img src="{{url_for('static', filename='img/footer-logo.png')}}" alt=""
                        class="align-self-center img-fluid w-100">
                </div>

                <div
                    class="col-9 col-xl-3 col-md-5 px-md-5 align-items-center justify-content-center px-xl-4 col-sm-8 ">
                    <h6 class="mt-3 mb-2 fs-2"> Hubungi Kami</h6>
                    <ul class="navbar-nav gap-3">
                        <li class="d-flex align-items-center gap-3">
                            <img src="{{url_for('static', filename='img/footer-home.svg')}}" class="img-fluid animated "
                                style="width: 20px; height:20px;" alt=""> Tanete Riaja, Barru, Sulawesi Selatan
                        </li>
                        <li class="d-flex align-items-center gap-3">
                            <img src="{{url_for('static', filename='img/footer-instagram.svg')}}"
                                class="img-fluid animated " style="width: 20px; height:20px;" alt=""> fatincake
                        </li>
                        <li class="d-flex align-items-center gap-3">
                            <img src="{{url_for('static', filename='img/footer-facebook.svg')}}"
                                class="img-fluid animated " style="width: 20px; height:20px;" alt=""> fatincake
                        </li>
                        <li class="d-flex align-items-center gap-3">
                            <img src="{{url_for('static', filename='img/footer-wa.svg')}}" class="img-fluid animated "
                                style="width: 20px; height:20px;" alt=""> +62 856-5691-6273
                        </li>
                    </ul>
                </div>

                <div class="col-xl-5 col-sm-12  text-center my-3">
                    <h6 class="mb-4 fs-2"> Kami Menerima Pembayaran</h6>

                    <div class="container gap-5 d-flex align-items-center justify-content-center">
                        <div class="col-xl-3 col-sm-2 col-3">
                            <img class="img-fluid" src="{{url_for('static', filename='img/footer-bri.png')}}">
                        </div>
                        <div class="col-xl-4 col-sm-2">
                            <img class="img-fluid" src="{{url_for('static', filename='img/footer-dana.png')}}">
                        </div>
                        <div class="col-xl-3 col-sm-2">
                            <img src="{{url_for('static', filename='img/footer-bsi.png')}}" class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- Footer -->

    <!-- Bootstrap-->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- Java Script Links -->
    <script src="{{ url_for('static', filename='js/script.js') }}" type="module"> </script>


</body>

</html>