{% extends 'base.html' %}

{% block tittle %} Cart - Fatin Cake {% endblock %}

{% block navcart %}
<li class="nav-item d-flex align-items-center">
    <a class="nav-link text-pink" href="{{ url_for('main.cart') }}"> Cart </a>
    <img src="{{url_for('static', filename='img/navbar-cart-active.svg')}}" class="img-fluid animated ms-2 " alt="">
</li>
{% endblock %}

{% block modal %}
<div> </div>
{% endblock %}

{%  block body %}
<div style="background-color: white;" class="py-4">

    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <img src="{{ url_for('static', filename= 'img/cart-empty_cart.png') }}" alt="" class="img_empty_cart">
            </div>
            <div class="col-12 text-center">
                <h1 class="cart_empty"> Oh, keranjangmu masih kosong nih </h1>
                <p class="cart_empty mt-4"> Yuk, pilih dulu kue kesukaanmu! </p>

                <a href="{{ url_for('main.products') }}">
                    <button class=" mt-4 custom-button-2">        
                        Pilih Sekarang
                    </button>
                </a>
            </div>
        </div>        
    </div>

</div>
{% endblock %}