{% extends 'base.html' %}

{% block tittle %} Home - Fatin Cake {% endblock %}

{% block navhome %}
<li class="nav-item d-flex align-items-center ">
    <a class="nav-link text-pink" aria-current="page" href="{{ url_for('main.index') }}"> Home </a>
    <img src=" {{url_for('static', filename='img/navbar-home-active.svg')}} "
        class="img-fluid animated ms-2 active-nav " alt="">
</li>
{% endblock %}
  
{% block body %}

<div class="first_img">
  <img src="{{url_for('static', filename='img/index-jumbotron.png')}}" class="img-fluid" alt="big_cake">
</div>

<div class="container-fluid bg-second-section pb-5">
  <h1 class="pt-4 text-center fs-1"> NIKMATI KUE TERLARIS DARI FATIN CAKE </h1>

  <!-- Card 1-->
  <div class="container py-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for cake_product in cake_product %}
      <!-- Looping start disini !! -->
      <div class="col-md-6 col-xl-3 d-flex justify-content-center">
          <div class="card card-body-second h-100 col-10 col-md-12">
              <!-- Source Gambar -->
              <img src="{{url_for('static', filename='img/foto_produk/' + cake_product.foto )}}"
                  class="card-img-top img-fluid shadow-lg" alt="">
              <div class="card-body text-center">
                  <!-- Nama Kue  -->
                  <h5 class="card-title "> {{ cake_product.nama }} </h5>
                  <!-- Detail Singkat  -->
                  <p class="card-text"> IDR {{ cake_product.harga }} </p>
              </div>
              <div class="text-center mb-3">
                  <a href="{{ url_for('main.details', id_kue = cake_product.id_kue) }}">
                      <button type="button" class="custom-button-2"> Detail</button>
                  </a>
              </div>
          </div>
      </div>
      <!-- Looping end disini !! -->
      {% endfor %}
    </div>
  </div>

  <!-- Card 1-->

</div>

<div class="container-fluid bg-third-section pb-5">
  <h2 class="pt-4 fs-1 text-center"> MANISNYA COKLAT DALAM SETIAP GIGITAN </h1>


   <!-- Card 1-->

   <div class="container py-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for cake_product in cake_product %}
      <!-- Looping start disini !! -->
      <div class="col-md-6 col-xl-3 d-flex justify-content-center">
          <div class="card card-body-third h-100 col-10 col-md-12">
              <!-- Source Gambar -->
              <img src="{{url_for('static', filename='img/foto_produk/' + cake_product.foto )}}"
                  class="card-img-top img-fluid shadow-lg" alt="...">
              <div class="card-body text-center">
                  <!-- Nama Kue  -->
                  <h5 class="card-title "> {{ cake_product.nama }} </h5>
                  <!-- Detail Singkat  -->
                  <p class="card-text"> IDR {{ cake_product.harga }} </p>
              </div>
              <div class="text-center mb-3">
                  <a href="{{ url_for('main.details', id_kue = cake_product.id_kue) }}">
                      <button type="button" class="custom-button-2">Lihat Detail</button>
                  </a>
              </div>
          </div>
      </div>
      <!-- Looping end disini !! -->
      {% endfor %}
    </div>
  </div>

  <!-- Card 1-->
    <div class="container text-center">
      <button type="button" class="button-custom "> Lihat Lebih Banyak
        <i class="fa-solid fa-chevron-right "> </i>
      </button>

    </div>

</div>

<div class="container-fluid bg-second-section pb-5">
  <h1 class="pt-4 text-center ps-1"> KUE LUCU, KENANGAN MANIS </h1>

  <!-- Card 1-->

  <div class="container py-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for cake_product in cake_product %}
      <!-- Looping start disini !! -->
      <div class="col-md-6 col-xl-3 d-flex justify-content-center">
          <div class="card card-body-second h-100 col-10 col-md-12">
              <!-- Source Gambar -->
              <img src="{{url_for('static', filename='img/foto_produk/' + cake_product.foto )}}"
                  class="card-img-top img-fluid shadow-lg" alt="...">
              <div class="card-body text-center">
                  <!-- Nama Kue  -->
                  <h5 class="card-title "> {{ cake_product.nama }} </h5>
                  <!-- Detail Singkat  -->
                  <p class="card-text"> IDR {{ cake_product.harga }} </p>
              </div>
              <div class="text-center mb-3">
                  <a href="{{ url_for('main.details', id_kue = cake_product.id_kue) }}">
                      <button type="button" class="custom-button-2">Lihat Detail</button>
                  </a>
              </div>
          </div>
      </div>
      <!-- Looping end disini !! -->
      {% endfor %}
    </div>
  </div>

  <!-- Card 1-->

  <div class="container text-center">
    <button type="button" class="button-custom-2 "> Lihat Lebih Banyak
      <i class="fa-solid fa-chevron-right "> </i>
    </button>
  </div>

</div>

{% endblock %}